[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HIMA"]
	path = HIMA
	url = https://github.com/yinanzheng/hima
[submodule "REMP"]
	path = REMP
	url = https://github.com/yinanzheng/remp
